/* Колір основного тексту : rgba(33, 33, 33, 1); */
/*  Вторинний колір : #757575; */
/* Первинний колір лого: #000000 */
/* Вторинний колір лого:
/* Акцент: #2196F3 */
/* Білий колір (футер) первинний: #FFFFFF  */
/* Білий колір (футер) вторинний: rgba(255, 255, 255, 0.6) */
/*Вторинний колір фону:  #2F303A */
/* Первинний колір фону: #F5F5F5 */
/* відстань між словами (буквами letter-spacing): 0.03em; */
/* Колір тексту імейлу і тел в футері: rgba(255, 255, 255, 0.6); */
/* Фон футера: #2F303A; */



:root {
  --first-background: #F5F5F5;
  --accent-color: #2196F3;
  --first-logo-color: rgba(0, 0, 0, 1);
  --main-color-text: #212121;
  --second-color-text: #757575;
  --white-color-text: #FFFFFF;
  --font-family: Roboto, sans-serif;
  --footer-main-color-text: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2F303A;
}



body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--main-color-text);
  background-color: var(--first-background);
  font-weight: 400;
}



/* Синій колір для логотипу */
.span {
  color: var(--accent-color);
}

/* Стилізація чорного кольору для логотипу */
.logo-link {
  text-decoration: none;
  color: var(--first-logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Зняття маркерів */
.list {
  list-style: none;
}

/* зняття підкреслення */
.underline {
  text-decoration: none;
}

/* Стилізація:студіі, портфоліо, контактів */
.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*  Стилізація студіо*/
.studio {
  text-decoration: none;
  color: var(--main-color-text);

  /*  Стилізація "студії-ефект ховеру і фокусу" */
}
.studio:hover,
.studio:focus {
  color:var(--accent-color) ;
}

/* Стилізація портфоліо */
.current-portfolio {
  text-decoration: none;
  color: #2196F3;
}

/* Стилізація контактів */
.contacts {
  text-decoration: none;
  color: var(--main-color-text);
}

/*  Стилізація контаків-ефект ховеру, фокусу */
.contacts:hover,
.contacts:focus {
color: var(--accent-color);
}



/* Стилізація імейлу */
.current-mail {
  text-decoration: none;
  color: var(--accent-color);
}
/* Сірий колір для телефону */
.tel {
  text-decoration: none;
  color: var(--second-color-text);
}
/* Стилізація телефону-ефект ховеру і фокусу */
.tel:hover,
.tel:focus{
  color: var(--accent-color);
}


/* Прихований заголовок */
.visually-hidden {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Стилізація усіх кнопок */
.button {
  color: var(--main-color-text);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}

/* Кнопка "усі" при ховері, фокусі */
.button-all {
  background-color: var(--accent-color);
  color: var(--white-color-text);
}

/* Стилізація кнопки (для всіх кнопок) ефект ховеру і фокусу */
.button:hover,
.button:focus{
  color: var(--white-color-text);
  background-color: var(--accent-color);
}

/* Стилізація заголовка */
.header-img {
  color: var(--main-color-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Стилізація опису */
.text-img {
  color: var(--second-color-text);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

}

/* стилізація футера */
.footer {
  
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--footer-background-color);
}

.footer-text {
  color: var(--white-color-text);
}
/* ефект ховера і фокусу для імейлу */
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color); ;
}

.footer-mail {
  color: var(--footer-main-color-text);
}
/* ефект фокусу і ховера для телефону */
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
.footer-tel {
  color: var(--footer-main-color-text);
}